{{define "title"}}Edit Gallery{{end}}

{{define "css"}}forms{{end}}

{{define "url"}}/galleries/edit{{end}}

{{define "description"}}Edit your gallery.{{end}}

{{define "meta_title"}}Edit Gallery{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    <section class="gallery-form-header"><h1>Edit Your Gallery</h1></section>
    <section class="edit-gallery-container">
        <!-- Change Gallery Title -->
        <section>
            <form class="edit-gallery-form" action="/galleries/{{.ID}}" method="post" class="form">
                <div>
                    {{csrfField}}
                </div>
                <div>
                    <label for="title">Change Title</label>
                    <input type="text" name="title" id="title" required value="{{.Title}}" autofocus>
                </div>
                <div class="margin-top-1">
                    <button aria-label="Edit Gallery Form Submit Button" type="submit" class="form-btn">Update</button>
                </div>
            </form>
        </section>
        <!-- Upload Image -->
        <section>
            <div class="upload-image-form margin-top-4">
                <form action="/galleries/{{.ID}}/images" method="post" enctype="multipart/form-data">
                    <div>
                        {{csrfField}}
                    </div>
                    <div>
                        <label for="images">Add Images</label>
                        <p>Please only upload jpg, png, gif, or webp files</p>
                        <input type="file" name="images" id="images" multiple accept="image/png, image/jpeg, image/gif, image/webp">
                    </div>
                    <div class="margin-top-1">
                        <button aria-label="Upload Image Form Submit Button" type="submit" class="form-btn">Upload</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- Show Current Images -->
        <section class="margin-top-3">
            <section class="margin-btm-1"><h2>Current Images</h2></section>
            <div class="images-container">
                {{range .Images}}
                    <div class="image-with-delete-form">
                        <!-- Delete Images -->
                        <div class="delete-image-form">
                            <form action="/galleries/{{.GalleryID}}/media/{{.FilenameEscaped}}/delete" method="post">
                                <div>
                                    {{csrfField}}
                                </div>
                                <div>
                                    <button type="submit" aria-label="Delete Image Form Button" class="delete-gallery-btn">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <img src="/galleries/{{.GalleryID}}/media/{{.FilenameEscaped}}" alt="">
                    </div>
                {{end}}
            </div>
        </section>
        <!-- Delete Gallery Button -->
        <section class="gallery-form-da margin-top-2">
            <div class="delete-gallery-action">
                <form action="/galleries/{{.ID}}/delete" method="post">
                    <div>
                        {{csrfField}}
                    </div>
                    <div>
                        <button class="form-btn delete-btn delete-gallery-btn" type="submit" aria-label="Delete Gallery Button" title="{{.Title}}">DELETE!!!</button>
                    </div>
                </form>
            </div>
        </section>
    </section>
{{end}}