{{define "title"}}Contact{{end}}

{{define "css"}}contact{{end}}

{{define "url"}}/contact{{end}}

{{define "description"}}Drop us a line{{end}}

{{define "meta_title"}}Contact{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    <section class="page-header">
        <h1>Contact</h1>
    </section>
    <div class="contact-info">
        <div>
            <img src="/static/images/contact-us.png" alt="contact us">
        </div>
        <div class="tac">
            <p>To leave a message, drop us an email at <br><a href="">support@fotogen.com</a></p>
        </div>
    </div>
{{end}}