{{define "title"}}Home{{end}}

{{define "css"}}home{{end}}

{{define "url"}}{{end}}

{{define "description"}}Your ideal photo sharing app!{{end}}

{{define "meta_title"}}Welcome to Fotogen{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    <div class="container">
        <div class="home-container">
            <div id="split-screen" class="split-screen"></div>
            <div class="background-image"></div>
            <div id="home-header" class="home-header">
                <h1>SHARE<br><span id="white-text" class="white">THE</span><br>WORLD</h1>
            </div>
        </div>
        <div class="sign-up-content">
            <h2><a href="/sign-up">SIGN-UP</a></h2>
        </div>
    </div>
{{end}}