/*USER FORM*/

.user-form {
    background-color: #dedede;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    padding: 1rem 2%;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
        0px 2px 4px rgba(0,0,0,0.1), 
        0px 4px 8px rgba(0,0,0,0.1), 
        0px 8px 16px rgba(0,0,0,0.1);
    color: #111;
}

.form-header div:nth-child(1) {
    background-color: #bd081c;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.form-header div i { color: #fff; font-size: 24px; line-height: 48px; }
.user-form h1 { font-size: 24px; line-height: 48px; }
.user-form h2 { font-size: 18px; line-height: 24px; font-style: italic; font-weight: 600; }
.form-header div p { text-align: center; font-weight: 500; }

.form { margin-top: 2rem; }
.form div { display: flex; flex-direction: column; }

.form input:focus, .edit-gallery-form input:focus { outline: 2px solid #007018; }

.form-btn {
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    background-color: #A30719;
    border-radius: 10px;
    color: #fff;
}
.form-btn:hover { opacity: .8; transition: .3s; }

.form-links {
    flex-direction: row !important;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 2rem;
}
.form-links div a {
    font-size: 14px;
    line-height: 24px;
    color: #222;
    font-style: italic;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    text-align: center;
}
.form-links div:nth-child(1) a { font-style: normal; }
.form-links div a:hover { border-bottom: 2px solid #222; transition: .5s ease-in-out; }


/*NEW GALLERY*/

.gallery-form-header { margin-top: 2rem; }
.gallery-form-header h1 { font-size: 48px; line-height: 72px; }
.new-gallery-form { margin-top: 2rem; max-width: 700px; }


/*EDIT GALLERY*/

.edit-gallery-container { 
    display: flex; flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 0 5%; 
    margin: 0 auto; margin-bottom: 4rem; 
}
.edit-gallery-form { margin-top: 2rem; }
.edit-gallery-container label { font-size: 32px; line-height: 64px; }
.edit-gallery-form div { display: flex; flex-direction: column; }
.edit-gallery-form input { border: 2px solid #333; }
.edit-gallery-container .form-btn { background-color: #1A88BD; }

/*UPLOAD IMAGES*/

.upload-image-form p { font-weight: 600; }
.upload-image-form input { padding: .5rem 0;}
.upload-image-form .form-btn { width: 100%; background-color: #08BD2F; }

/*DELETE IMAGES*/

.edit-gallery-container h2 {
    font-size: 32px;
    line-height: 64px;
    text-align: left;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    margin: 0 auto;
    justify-content: space-between;
}

.image-with-delete-form { margin-bottom: 1rem; position: relative; }
.delete-image-form { position: absolute; right: 0; }

.delete-image-form button { background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.5); }
.delete-image-form button:hover { opacity: .5; cursor: pointer; transition: .05s ease-in-out; }
.delete-image-form button i { font-size: 32px; line-height: 48px; color: #BDB71A; }

.images-container div img { width: 100%; max-width: 576px; }

/*BOTTOM DELETE BTN*/ 

.edit-gallery-container div .delete-btn { width: 100%; background-color: #BDB71A; color: #222; }


@media only screen and (max-width: 700px) {
    .new-gallery-form { margin: 2rem 5%; }
}
@media only screen and (max-width: 576px) {
    .user-form { padding: 1rem 5%; }

    .form-links { flex-direction: column !important; }

    .form-links div:nth-child(1) { margin-bottom: .5rem; }
}
@media only screen and (max-width: 500px) {
    .user-form { margin: 4rem 5%; }
}