/*SHOW*/

.gallery-container { padding: 0 5%; }
.gallery-images {
    column-count: 4;
    column-gap: 1rem;
    margin-bottom: 4rem;
}
.gallery-images li {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 1rem;
    break-inside: avoid;
}
.gallery-images li:hover { cursor: pointer; }
/*.galleries-container li > a { grid-row: 1 / -1; grid-column: 1; }*/
.gallery-images li img { width: 100%; height: auto; }

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-images {
    /* margin: auto; */
    position: fixed;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.modal-img img {
    width: 100%; max-width: 1200px; max-height: 1000px;
    animation-name: modalSlideUp;
    animation-duration: .7s;
}
@keyframes modalSlideUp {
    0% {
        transform: translateY(1500px);
    }
    100% {
        transform: translateY(0);
    }
}
.close-modal {
    position: absolute;
    top: 96px; right: 2rem;
    font-size: 32px; line-height: 32px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
}
.close-modal:hover { cursor: pointer; opacity: .5; } 
.prev-modal, .next-modal {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding-top: 8px;
    font-size: 32px; line-height: 32px;
    width: 48px; height: 48px;
    display: flex; margin: 0 auto; justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.next-modal { right: 0; }
.prev-modal:hover, .next-modal:hover { opacity: .5; }


@media only screen and (max-width: 576px) {
    .gallery-images { display: flex; flex-direction: column; }
}


/*MY GALLERIES*/

.galleries-container {
    max-width: 1200px;
    display: flex; flex-direction: column;
    padding: 0 5%;
    margin: 0 auto; margin-bottom: 4rem;
    justify-content: center;
}

.new-gallery-btn { margin-bottom: 2rem; }
.new-gallery-btn a span { margin-right: 1rem; }
.new-gallery-btn a {
    background-color: #A30719; color: #fff;
    padding: .5rem 1rem;
    font-size: 24px; line-height: 32px;
    border-radius: 10px;
}
.new-gallery-btn a:hover { opacity: .5; transition: .05s ease-in-out; }

.galleries-table { border-collapse: collapse; }
.galleries-table th { font-size: 24px; line-height: 32px; font-weight: 700; color: #222; }
.galleries-table th:nth-child(1), .galleries-table td:nth-child(1) { width: 70%; }
.galleries-table th:nth-child(2), .galleries-table td:nth-child(2) { width: 30%; }
.galleries-table tbody tr:nth-child(odd) { background-color: #d7d7db; }
.galleries-table td {
    font-size: 16px; line-height: 40px;
    font-weight: 500;
    color: #333;
}
.galleries-table td:nth-child(1) {
    padding-left: 2%;
    border-right: 2px solid #aaa;
}
.galleries-table td:nth-child(2) {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(88px, auto));
}

.gallery-links {
    height: 32px; width: 88px;
    line-height: 32px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    margin: 0 auto; justify-content: center; align-items: center;
}
.gallery-links:nth-child(1) { background-color: #007018; }
.gallery-links:nth-child(2) { background-color: #1A88BD; }
.gallery-links:nth-child(3) { background-color: #BDB71A; }
.gallery-links button { 
    font-size: 16px; font-weight: 500; 
    background-color: transparent; color: #fff; 
}
.gallery-links:hover { opacity: .5; cursor: pointer; transition: .05s ease-in-out; }
.gallery-links a span, .gallery-links button span { margin-right: .5rem; }
.galleries-table td a {
    width: 100%;
    color: #fff;
    height: 32px;
    text-align: center;
}


@media only screen and (max-width: 880px) {
    .gallery-links { margin: 4px 0; }
}