/*HEADER*/

header {
    height: 48px;
    padding: 0 2%;
    background-color: #bd081c;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}
html {
    scroll-padding-top: 48px;
}
main {
    padding: 48px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
}

.user-links {
    margin-left: 3rem;
    margin-right: -1rem;
}

header ul { list-style: none; }
header ul li a, header ul li i { 
    color: #fff; 
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 2px solid transparent;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav ul li {
    margin: 0 1rem;
}

.nav ul li a, .nav ul li i {
    font-size: 18px;
    line-height: 32px;
    height: 32px;
}

.nav ul li a:hover {
    border-bottom: 2px solid #fff;
    transition: .3s ease-in-out;
}

.logo a, .user-links ul li {
    display: flex;
    flex-direction: row;
}

.logo div i, .logo div p {
    font-size: 24px;
    line-height: 48px;
    color: #fff;
}

.logo div:nth-child(1), .user-links ul li div {
    margin-right: .5rem;
}

.logo div p {
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

/*MOBILE*/

.nav-overlay, .hamburger-icon {
    display: none;
}

.hamburger-icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hamburger-icon i {
    font-size: 32px;
    line-height: 32px;
}

.nav-overlay {
    position: fixed;
    z-index: 1000;
    top: 48px;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);  
}

.mobile-nav {
    padding: 0 0 3rem 2rem;
    right: 0;
    z-index: 1200;
    position: fixed;
    transition: width .6s;
    overflow-y: scroll;
    width: 0%;
    height: 100%;
    animation-name: mobileNavSlide;
    animation-duration: .7s;
    background-color: #C9081F;
}

@keyframes mobileNavSlide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    } 
}

.mobile-nav .links, .mobile-nav .user-links {
    display: flex;
    flex-direction: column;
}

.mobile-nav ul li a {
    display: flex;
    width: 100%;
}

.mobile-nav ul li a, .mobile-nav ul li i {
    font-size: 20px;
    line-height: 56px;
}

.mobile-nav .user-links {
    margin: 2rem 0 0 0;
}


@media only screen and (max-width: 700px) {
    .hamburger-icon {
        display: flex;
    }

    header .nav .links, .header .nav .user-links{
        display: none;
    }
}


/*FOOTER*/

footer {
    height: 48px;
    background-color: #c5c5c5;
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: .5rem 3%;
}

footer p {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}