<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata First -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>{{block "title" .}}{{end}} | Fotogen</title>
    <!-- Fonts + CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/{{block "css" .}}{{end}}.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://fotogenrfw.online{{block "url" .}}{{end}}">
    <!-- Metadata -->
    <meta name="description" content="{{block "description" .}}{{end}}">
    <meta name="format-detection" content="telephone=no">
    <!-- Twitter Metadata -->
    <meta name="twitter:title" content="{{block "meta_title" .}}{{end}}">
    <meta name="twitter:description" content="{{block "description" .}}{{end}}">
    <meta name="twitter:image" content="{{block "meta_image" .}}{{end}}">
    <meta name="twitter:card" content="summary_large_image">
    <!-- Other Social Media Metadata -->
    <meta property="og:title" content="{{block "meta_title" .}}{{end}}">
    <meta property="og:description" content="{{block "description" .}}{{end}}">
    <meta property="og:image" content="{{block "meta_image" .}}{{end}}">
    <meta property="og:url" content="https://fotogenrfw.online{{block "url" .}}{{end}}">
    <meta property="og:site_name" content="Fotogen">
    <!--Scripts -->
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logo">
                <a href="/">
                    <span><i class="fa-solid fa-camera-retro"></i></span>
                    <div><p>Fotogen</p></div>
                </a>
            </div>
            {{template "links" .}}
        </nav>
        <div id="hamburger-icon" class="hamburger-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div id="nav-overlay" class="nav-overlay">
            <nav id="mobile-nav" class="mobile-nav">
                {{template "links" .}}
            </nav>
        </div>
        <div class="search-m">
            {{template "search-bar" .}}
        </div>
    </header>
    <main>
        {{if errors}}
            <div class="alert">
                {{range errors}}
                    <div class="alert-message">
                        {{.}}
                        <span><i class="fa-regular fa-circle-xmark"></i></span>
                    </div>
                {{end}}
            </div>
        {{end}}
        {{template "page" .}}
    </main>
    <footer>
        <div>
            <p>Fotogen 2023&copy;</p>
        </div>
        <nav class="nav">
            {{template "page-links" .}}
        </nav>
    </footer>
    {{block "dropbox-js" .}}{{end}}
</body>
</html>

{{define "links"}}
    {{template "page-links" .}}
    <div class="search">
        {{template "search-bar" .}}
    </div>
    <div class="user-links {{if currentUser}}ul-user{{else}}ul-guest{{end}}">
        <ul>
            {{if currentUser}} 
                <li><span><i class="fa-regular fa-images"></i></span><a href="/galleries">MY GALLERIES</a></li>
                <li>
                    <form action="/sign-out" method="post">
                        <div> 
                            {{csrfField}}
                        </div>   
                        <div class="signout-btn">
                            <span><i class="fa-solid fa-right-from-bracket"></i></span>
                            <button type="submit" aria-label="Sign Out Button">SIGN OUT</button>
                        </div>
                    </form>
                </li>
            {{else}}
                <li><span><i class="fa-solid fa-user"></i></span><a href="/sign-in">SIGN IN</a></li>
                <li><span><i class="fa-solid fa-plus"></i></span><a href="/sign-up">SIGN UP</a></li>
            {{end}}
        </ul>
    </div>
{{end}}

{{define "search-bar"}}
    <form action="/search" class="search-form">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit" aria-label="Search Button"><i class="fa fa-search"></i></button>
    </form>
{{end}}

{{define "page-links"}}
    <div class="page-links">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </div>
{{end}}