{{define "userForm"}}
    <section class="user-form">
        <section class="form-header">
            <h1>{{template "form_title" .}}</h1>
            <h2>{{template "form_title2" .}}</h2>
        </section>
        <form action="/{{template "form_action" .}}" method="post" class="form">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required autocomplete="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="margin-top-2">
                <button aria-label="Signup Form Submit Button" type="submit" class="form-btn">Continue</button>
            </div>
            <div class="form-links">
                <div><a href="/{{template "form_link" .}}">{{template "form_link_text" .}}</a></div>
                <div><a href="/{{template "form_link2" .}}">{{template "form_link_text2" .}}</a></div>
            </div>
        </form>
    </section>
{{end}}