{{define "title"}}Log In{{end}}

{{define "css"}}forms{{end}}

{{define "url"}}/signup{{end}}

{{define "description"}}Welcome back{{end}}

{{define "meta_title"}}Sign Up{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    {{template "userForm"}}
{{end}}

{{define "form_title"}}Welcome Back{{end}}
{{define "form_title2"}}Your wonderful world of photos awaits{{end}}
{{define "form_action"}}login{{end}}

{{define "form_link"}}signup{{end}}
{{define "form_link_text"}}Don't have an account?{{end}}
{{define "form_link2"}}reset-pw{{end}}
{{define "form_link_text2"}}Forgot your password?{{end}}