{{define "title"}}Sign Up{{end}}

{{define "css"}}forms{{end}}

{{define "url"}}/signup{{end}}

{{define "description"}}Register here for a new account{{end}}

{{define "meta_title"}}Sign Up{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    {{template "userForm"}}
{{end}}

{{define "form_title"}}Welcome to Fotogen{{end}}
{{define "form_title2"}}The best place for photo-sharing{{end}}
{{define "form_action"}}signup{{end}}

{{define "form_link"}}login{{end}}
{{define "form_link_text"}}Already have an account?{{end}}
{{define "form_link2"}}reset-pw{{end}}
{{define "form_link_text2"}}Forgot your password?{{end}}