{{define "title"}}Sign In{{end}}

{{define "css"}}forms{{end}}

{{define "url"}}/signin{{end}}

{{define "description"}}Welcome back{{end}}

{{define "meta_title"}}Sign In{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    <section class="user-form">
        <section class="form-header">
            <h1>Welcome Back</h1>
            <h2>Your wonderful world of photos awaits</h2>
        </section>
        <form action="/signin" method="post" class="form">
            <div>
                {{csrfField}}
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required autocomplete="email" value="{{.Email}}" {{if not .Email}}autofocus{{end}}>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required {{if .Email}}autofocus{{end}}>
            </div>
            <div class="margin-top-2">
                <button aria-label="Signup Form Submit Button" type="submit" class="form-btn">Continue</button>
            </div>
            <div class="form-links">
                <div><a href="/signup">Don't have an account?</a></div>
                <div><a href="/reset-pw">Forgot your password?</a></div>
            </div>
        </form>
    </section>
{{end}}