{{define "title"}}Sign Up{{end}}

{{define "css"}}forms{{end}}

{{define "url"}}/signup{{end}}

{{define "description"}}Register here for a new account{{end}}

{{define "meta_title"}}Sign Up{{end}}

{{define "meta_image"}}{{end}}

{{define "page"}}
    <section class="user-form">
        <section class="form-header">
            <h1>Welcome to Fotogen</h1>
            <h2>The best place for photo-sharing</h2>
        </section>
        <form action="/users" method="post" class="form">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required autocomplete="email" value="{{.Email}}" {{if not .Email}}autofocus{{end}}>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required {{if .Email}}autofocus{{end}}>
            </div>
            <div class="margin-top-2">
                <button aria-label="Signup Form Submit Button" type="submit" class="form-btn">Continue</button>
            </div>
            <div class="form-links">
                <div><a href="/login">Already have an account?</a></div>
                <div><a href="/reset-pw">Forgot your password?</a></div>
            </div>
        </form>
    </section>
{{end}}